<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Home page</title>
</head>
<body id="result">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Django</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
  	</button>

  	<div class="collapse navbar-collapse" id="navbar1">
    	<ul class="navbar-nav mr-auto">
      		<li class="nav-item active">
        		<a class="nav-link" href="..">Home</a>
      		</li>
		    <li class="nav-item">
		    	<a class="nav-link" href="">Employees</a>
		    </li>
    	</ul>
        <form class="form-inline my-2 my-lg-0" id="search_form">
            <select id="sortBy" class="form-control mr-sm-2 target">
                <option value="name" >name</option>
                <option value="surname">surname</option>
                <option value="position__id">position</option>
                <option value="department__id">department</option>
                <option value="premium">premium</option>
            </select>

      		<input class="form-control mr-sm-2" type="search" placeholder="search" id="search_input">
      		<a class="btn btn-outline-info my-2 my-sm-0 search">search</a>
        </form>
  	</div>
</nav>
  {%block content%}
    {%endblock%}
{%block add_script%}
{%endblock%}

</body>
</html>